* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#accordion .card-body {
  display: none;
}
.card-header {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h5 {
  background-color: #fff;
}
p {
  background-color: #fff;
}
body {
  background-color: white;
}
.container {
  background-color: #ddd;
}
.card-body {
  background-color: #ddd;
}
body {
  background-color: black;
}
.fas fa-plus {
  background-color: aqua;
}

.minus {
}

.hidden {
  display: none !important;
}
